Source: crowdsec-nginx-bouncer
Maintainer: Crowdsec Team <debian@crowdsec.net>
Build-Depends: debhelper, bash

Package: crowdsec-nginx-bouncer
Provides: crowdsec-nginx-bouncer
Description: lua-based nginx bouncer for Crowdsec
Architecture: any
Depends: nginx, lua5.1, luarocks



