#!/usr/bin/make -f

export DEB_VERSION=$(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
export BUILD_VERSION=v${DEB_VERSION}-debian-pragmatic


%:
	dh $@

override_dh_systemd_start:
	echo "Not running dh_systemd_start"
override_dh_auto_clean:
	rm -rf lua-cs-bouncer
override_dh_auto_test:
override_dh_auto_build:
override_dh_auto_install:
	mkdir -p debian/crowdsec-nginx-bouncer/etc/nginx/conf.d/
	cp nginx/crowdsec_nginx.conf debian/crowdsec-nginx-bouncer/etc/nginx/conf.d/
	git clone https://github.com/crowdsecurity/lua-cs-bouncer.git
	mkdir -p debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/config.lua debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/iputils.lua debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/bitop.lua debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/plugins/crowdsec/
	cp lua-cs-bouncer/nginx/crowdsec.lua debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/
	cp lua-cs-bouncer/nginx/recaptcha.lua debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/
	cp lua-cs-bouncer/nginx/captcha.js debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/
	cp lua-cs-bouncer/nginx/access.lua debian/crowdsec-nginx-bouncer/usr/lib/crowdsec/lua/
	mkdir -p debian/crowdsec-nginx-bouncer/etc/crowdsec/bouncers/
	cp lua-cs-bouncer/nginx/template.conf debian/crowdsec-nginx-bouncer/etc/crowdsec/bouncers/crowdsec-nginx-bouncer.conf

